<a href="https://colab.research.google.com/github/taisizidoro/Python-/blob/master/variaveis_expressoes_declaracoes_funcoes_aula_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Considere as seguintes declarações de atribuições:

largura = 17  |
altura = 12.0   |
delimitador = "."

Para cada uma das expressões a seguir, escreva o valor das expressões e o tipo (do valor da expressão):

largura/2  |
largura/2.0  |
altura/3  |
1 + 2 * 5  |
delimitador*5

In [6]:
largura = 17
altura = 12.0
delimitador = "."

exp1 = largura/2 
print("largura/2 = ", exp1, type(exp1))

exp2 = largura/2.0
print("largura/2.0 = ", exp2, type(exp2))

exp3 = altura/3
print("altura/3 = ", exp3, type(exp3))

exp4 = 1+2*5
print("1+2*5 = ", exp4, type(exp4))

exp5 = delimitador*5
print("delimitador*5 = ", exp5, type(exp5))

largura/2 =  8.5 <class 'float'>
largura/2.0 =  8.5 <class 'float'>
altura/3 =  4.0 <class 'float'>
1+2*5 =  11 <class 'int'>
delimitador*5 =  ..... <class 'str'>